<div id="toolbar">
  <h2>Vegan Etsy</h2>
  <h3 id="toolbar-filters-button">Filters</h3>
  <h3 id="toolbar-about-button">About</h3>
  <h3 id="toolbar-randomly-filter-button">Randomly filter</h3>
</div>

<div id="filter-pane">
  <ul id="filter-descriptions">
    <li>Filter: Vegan</li>
    <li>Filter: Manly</li>
    <li>Filter: Adults</li>
    <li>Filter: not Vintage</li>
  </ul>
  <!--
  <div id="filters">
    <form name="filters" id="filter_rules">
      <div class="rule dynamic">

        <select class="properties">
          <% for option_name in ApplicationController::FILTERS.keys.sort %>
          <option value="<%= option_name %>"><%= option_name %></option>
          <% end %>
        </select>

        <select class="operators"><option>&mdash;</option></select>

        <span class="operand-wrapper"></span>

        <div class="rule-management-buttons">
          <button class="rule-remove">-</button>
          <button class="rule-add">+</button>
        </div>

      </div>
    </form>
  </div>
  -->
</div>